.wholeItem {
    padding: 0.8rem;
    cursor: pointer;
}

.icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.8rem;
}

.priceAndChange24 {
    flex-grow: 1;
}

.textLeft {
    text-align: left;
}

.textPrimary {
    color: var(--color-primary);
}

.textGreen {
    color: var(--color-green);
}

.textRed {
    color: var(--color-red);
}