.textFooter {
    font-size: 1.1rem;
    padding-right: 0;
}

.socialButtons {
    padding-left: 0;
}

.socialButtons svg {
    color: #15d163;
    width: 1.5rem;
    height: 1.6rem;
}

.socialButtons svg:hover {
    color: #14b055;
    cursor: pointer;
}

.emailIcon {
    margin-left: 10px;
}

@media (max-width: 475px) {
    .textFooter {
        text-align: start;
        font-size: 1rem;
    }
    .socialButtons {
        text-align: end;
    }
}