.footerInside {
    width: 95vw;
}

@media (min-width: 992px) {
    .footerInside {
        width: 60vw;
    }
}

.textFooter {
    padding-right: 0;
    text-align: left;
}

.socialButtons {
    padding-left: 0;
    text-align: right;
}

.socialButtons svg {
    color: var(--color-primary);
    width: 1.5rem;
    height: 1.6rem;
}

.socialButtons svg:hover {
    color: var(--color-primary-darker);
    cursor: pointer;
}

.emailIcon {
    margin-left: 16px;
}

@media (max-width: 475px) {
    .textFooter {
        text-align: start;
    }
    .socialButtons {
        text-align: end;
    }
}