.navHeaderText {
    font-size: calc(1.45rem + 2vw);
}

.navButton {
    min-width: 15vw;
    max-width: 15vw;
    --bs-btn-active-color: white;
    box-shadow: none;
}

@media (min-width: 400px) {
    .navButton {
        min-width: 15vw;
        max-width: 15vw;
    }
}

@media (min-width: 475px) {
    .navButton {
        min-width: 10vw;
        max-width: 10vw;
    }
}

@media (min-width: 768px) {
    .navButton {
        min-width: 8vw;
        max-width: 8vw;
    }
}

@media (min-width: 768px) {
    .navButton {
        min-width: 8vw;
        max-width: 8vw;
    }
}

.navButton:hover {
    color: white;
}

.navButtonText {
    font-size: calc(1.2rem + 0.5vw);
    text-align: center;
}

@media (min-width: 992px) {
    .navButton {
        min-width: 5vw;
        max-width: 5vw;
    }
    .navButtonText {
        font-size: calc(1rem + 0.5vw);
        text-align: center;
    }
}