.navHeaderText {
    font-size: calc(2.5rem + 0.5vw);
}

.navButton {
    --bs-btn-active-color: white;
    box-shadow: none;
}

.navButton:hover {
    color: white;
}

.navButtonText {
    font-size: calc(1.2rem + 0.5vw);
    text-align: center;
    padding-left: 0.15rem;
    padding-right: 0.15rem;
}

@media (min-width: 320px) {
    .navButtonText {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}