.navHeaderText {
    font-size: calc(2rem + 0.9vw);
}

.navButton {
    min-width: 70px;
    max-width: 70px;
    --bs-btn-active-color: white;
    box-shadow: none;
}

.navButton:hover {
    color: white;
}

.navButtonText {
    font-size: 1.5rem;
}