* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  text-align: center;

  --color-primary: #15d163;
  --color-primary-darker: #14b055;

  --color-green: #15d163;
  --color-red: #ff4949;

  font-size: 1rem;
}

@media (min-width:475px) {
  #root {
    font-size: 1.1rem;
  }
}

.mainContainer {
  min-height: 500px;
  width: 95vw;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 992px) {
  .mainContainer {
    width: 60vw;
  }
}

.form-control:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: var(--bs-dropdown-link-hover-bg);
  --bs-dropdown-link-active-color: var(--bs-dropdown-link-color);
}

mark,
.mark {
  padding: 0;
  /*background-color: rgba(21, 209, 99, 0.25);*/
  background-color: rgba(0, 153, 255, 0.3);
}