:root {
  text-align: center;
  --color-primary: #15d163;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-outline-primary {
  --bs-primary: var(--color-primary);
  --bs-btn-color: var(--color-primary);
  --bs-btn-border-color: var(--color-primary);
  --bs-btn-active-border-color: var(--color-primary);
  --bs-btn-hover-border-color: var(--color-primary);
  --bs-btn-disabled-color: var(--color-primary);
  --bs-btn-disabled-border-color: var(--color-primary);
  --bs-btn-active-bg: var(--color-primary);
  --bs-btn-hover-bg: var(--color-primary);
  box-shadow: none;
}

.pagination {
  --bs-link-color: var(--color-primary);
  --bs-link-hover-color: var(--color-primary);
  --bs-pagination-active-bg: var(--color-primary);
  --bs-pagination-active-border-color: var(--bs-pagination-border-color);
  --bs-pagination-focus-box-shadow: none;
}

.mainContainer {
  min-height: 300px;
  width: 60vw;
}

@media (max-width: 992px) {
  .mainContainer {
    width: 95vw;
  }
}

.text {
  font-size: 1.1rem;
}

@media (max-width:475px) {
  .text {
    font-size: 1rem;
  }
}