.footerInside {
    width: 95vw;
}

@media (min-width: 992px) {
    .footerInside {
        width: 60vw;
    }
}

.socialButtons svg {
    color: var(--color-primary);
    width: 1.5rem;
    height: 1.6rem;
}

.socialButtons svg:hover {
    color: var(--color-primary-darker);
    cursor: pointer;
}

.mr_16px {
    margin-right: 16px;
}