.wholeItem {
    padding: 0.8rem;
}

.icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.8rem;
}

.priceAndChange24 {
    flex-grow: 1;
}

.textLeft {
    text-align: left;
}

.textGreen {
    color: #15d163;
}

.textRed {
    color: #ff4949;
}