.spinnerBlock {
    display: flex;
    height: 76vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bigSpinner {
    margin-top: 6rem;
    margin-bottom: 6rem;
    width: 150px;
    height: 150px;

    --bs-spinner-border-width: 0.5rem !important;
    color: var(--color-primary) !important;
}